.New {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 20px 0 20px;
}

.New h1 {
    width: 100%;
    margin: 0;
    padding-bottom: 10px;
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    border-bottom: 3px solid #fff;
}

.New form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
    overflow-y: scroll;
}

.New .new-poster {
    width: 200px;
    height: 300px;
    object-fit: cover;
    box-shadow: 0 3px 3px #00000060;
}

.New label {
    width: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #000;
    box-shadow: 0 3px 3px #00000060;
}

.New label p {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-bottom: 3px;
    font-size: 40px;
}

.New label.new-thoughts {
    width: 250px;
    flex-direction: column;
    align-items: flex-start;
}

.New label select {
    color: #fff;
    font-size: 24px;
    background-color: transparent;
    border: none;
}

.New label img {
    width: 30px;
    height: 30px;
}

.New img.white {
    filter: brightness(0) invert(1);
}

.New label textarea {
    width: 100%;
    height: 100px;
    color: #fff;
    font-size: 20px;
    background-color: transparent;
    border: none;
}

.New label select:focus,
.New label textarea:focus {
    outline: none;
}

.New .new-options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.New .new-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.New .new-tag {
    margin: 10px 5px !important;
    padding: 5px 15px;
    font-size: 20px;
    font-weight: 800;
    white-space: nowrap;
    text-align: center;
    box-shadow: 0px 2px 2px #00000060;
    border: none;
    border-radius: 20px;
}

.New .new-tag:hover {
    animation: .5s rise forwards;
}

.New .new-tag.plus {
    color: #000;
    background-color: #fff;
}

.New .new-tag.minus {
    color: #fff;
    background-color: #000;
}

.New .new-tag.disable {
    color: #697595;
    background-color: #bcc7e8;
    animation: none !important;
}

.New button.new-cancel,
.New button.new-post {
    display: flex;
    width: 180px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #fff;
    border: none;
    box-shadow: 0px 3px 3px #00000060;
}

.New button.new-cancel{
    color: #697595;
}

@media screen and (min-width: 760px) {
    .New form {
        display: grid;
        grid-template-columns: 200px repeat(3, 1fr);
        grid-template-rows: 52px 208px fit-content(100%);
        gap: 20px;
    }

    .New .new-poster{
        grid-column: 1 / span 1;
        grid-row: 1 / span 3;
    }

    .New label{
        width: 100%;
        height: 100%;
        font-size: 20px;
    }

    .New label select{
        font-size: 20px;
    }


    .New label.new-thoughts{
        width: 100%;
        height: 100%;
        grid-column: 2 / span 3;
        grid-row: 2 / span 2;
        display: flex;
        justify-content: stretch;
    }

    .New label.new-thoughts textarea{
        width: 100% !important;
        height: 100%;
    }

    .New .new-options{
        width: 100%;
        grid-column: 1 / span 4;
        grid-row: 4 / span 1;
        display: grid;
        grid-template-columns: 220px 1fr 20px 1fr 20px 1fr;
        grid-template-rows: 50px fit-content(100%);
    }

    .New label.new-tag-label{
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
    }

    .New button.new-post{
        width: 100%;
        grid-column: 4 / span 1;
        grid-row: 1 / span 1;
        margin-top: 0;
    }

    .New button.new-cancel{
        width: 100%;
        grid-column: 6 / span 1;
        grid-row: 1 / span 1;
        margin-top: 0;
    }

    .New .new-tags{
        width: 100%;
        grid-column: 1 / span 7;
        grid-row: 2 / span 1;
        padding-top: 20px;
    }
}

@media screen and (min-width: 900px) {
    .New form {
        grid-template-columns: 300px repeat(3, 1fr);
        grid-template-rows: 52px 358px fit-content(100%);
    }

    .New label,
    .New label select{
        font-size: 24px;
    }

    .New .new-poster{
        width: 300px;
        height: 450px;
    }

    .New .new-options{
        grid-template-columns: 320px 1fr 20px 1fr 20px 1fr;
    }
}