<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="stylesheets/index.css">
  <title>
    <%= title %>
  </title>
</head>

<body>

  <header>
    <section class="logo">
      <img src="images/logo.png" alt="rabbt ears Logo">
      <section class="title">
        <h1>Rabbt Ears</h1>
        <h2>Tune in!</h2>

      </section>
    </section>
    <nav>
      <ul>
          <li class="login"><a>LOGIN</a></li>
          <li><a>PROGRAMS</a></li>
          <li><a>REVIEWS</a></li>
          <li><a>RANDOM</a></li>
      </ul>
    </nav>
  </header>
  <div class="red bar"></div>
  <div class="orange bar"></div>
  <div class="yellow bar"></div>
  <div class="green bar"></div>
  <div class="blue bar"></div>
  <div class="purple bar"></div>

</body>

</html>