.Loading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Loading h1 {
    width: auto !important;
    color: #fff !important;
    margin: 0 0 20px 0 !important;
    padding: 0 !important;
    font-size: 50px !important;
    text-shadow: 0 2px 2px #00000060 !important;
    text-align: center !important;
    border: none !important;
    background-color: transparent !important;
}

.dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.dot {
    width: 25px;
    height: 25px;
    box-shadow: 0 2px 2px #00000060;
    background-color: #ffffff70;
    border-radius: 50%;
    animation: expand 2s linear infinite;
}

.dot.first {
    animation: expand 1s linear infinite;
}

.dot.second {
    animation: expand 1s .5s linear infinite;
}

@keyframes expand {
    0% {
        transform: scale(100%);
        background-color: #ffffff70;
    }

    50% {
        transform: scale(150%);
        background-color: #fff;
    }

    100% {
        transform: scale(100%);
        background-color: #ffffff70;
    }
}