.Profile {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
}

.Profile h2 {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    background-color: #000;
    border: 4px solid #fff;
    border-radius: 50%;
}

.Profile .circle {
    border: 8px solid #000;
    border-radius: 50%;
}

.Profile h1 {
    color: #fff;
    text-shadow: 0 2px 2px #00000060;
    margin: 10px 0 0 0;
}

.Profile .count {
    margin: 10px 0 15px 0;
    padding: 5px 15px;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    text-shadow: 0 2px 2px #00000060;
    border-radius: 20px;
    box-shadow: 0 2px 2px #00000060;
}

.Profile .divider {
    margin: 0 10px;
    color: #000;
    font-weight: 600;
    text-shadow: none;
}

.Profile .point-five .divider {
    color: #bc2a2a;
}

.Profile .one .divider {
    color: #de7702;
}

.Profile .three .divider {
    color: #1b91e5;
}

.Profile .four .divider {
    color: #2ea021;
}

.Profile .five .divider {
    color: #fe73fe;
}

.Profile .profile-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 20px;
}

.Profile h3 {
    width: 200px;
    margin: 20px 20px 0 20px;
    padding: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    background-color: #000;
    box-shadow: 0 2px 2px #00000060;
}

.Profile .profile-list {
    display: flex;
    padding: 0 20px;
    gap: 20px;
    overflow-x: scroll;
}

.Profile .none-yet{
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-shadow: 0 2px 2px #00000060;
    background-color: #00000030;
}

.Profile .profile-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.Profile .profile-logout button {
    margin: 10px 20px;
    padding: 5px 15px;
    color: #697595;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    background-color: #bcc7e8;
    box-shadow: 0px 2px 2px #00000060;
    border: none;
    border-radius: 20px;
}

.Profile .profile-logout button:hover {
    animation: .5s rise forwards;
}