body {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
}

a {
  cursor: pointer;
}

header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fffcf4;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo>img {
  width: 200px;
  height: 200px;
}

.title {
  height: 200px;
  width: 595px;
}

.title>h1,
.title>h2 {
  margin: 0 0 0 20px;
  padding: 0;
}

.title>h1 {
  font-size: 120px;
}

.title>h2 {
  font-family: 'Pacifico', cursive;
  font-size: 70px;
  font-weight: normal;
  line-height: 50px;
  color: #8767ac;
}

nav {
  width: 795px;
  margin-top: 30px;
  border-top: 4px solid #efe3c3;
}

nav>ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

nav>ul>li {
  list-style: none;
  padding: 5px 20px;

}

nav>ul>li>a {
  font-size: 30px;

}

.login {
  color: #fffcf4;
  background-color: #000;
}

.bar {
  width: 100%;
  height: 2vh;
}

.red {
  background-color: #eb1f26ff;
}

.orange {
  background-color: #f1901fff;
}

.yellow {
  background-color: #ffcb4dff;
}

.green {
  background-color: #5c903eff;

}

.blue {
  background-color: #216798ff;

}

.purple {
  background-color: #8767acff;
  z-index: 1;

}

.carousel {
  width: 100%;
  height: auto;
  animation: mobile-transition 300s infinite;
  display: flex;
}

.carousel>img {
  width: 20vw;
  height: auto;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

@keyframes desktop-transition {
  from {
    transform: translate(0, -1940vh);
  }

  to {
    transform: translate(0, 0vh);
  }
}

@keyframes mobile-transition {
  from {
    transform: translate(-920vw, 0);
  }

  to {
    transform: translate(0vw, 0);
  }
}

@media only screen and (min-width: 1195px) {
  body {
    flex-direction: row;
  }

  .bar {
    width: 2vw;
    height: 100%;
  }
  
  .purple {
    box-shadow: 5px 0px 5px #00000060;
  }

  .carousel {
    width: auto;
    animation: desktop-transition 300s linear infinite;
    display: flex;
    flex-direction: column;
  }

  .carousel>img {
    width: auto;
    height: 100%;
    height: 40vh;
    object-fit: cover;
    margin: 0;
    padding: 0;
  }
}