.ProfilePoster{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px
}

.ProfilePoster .poster-div {
    width: 200px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(6, 50px);
}

.ProfilePoster .poster {
    object-fit: cover;
    width: 200px;
    height: 300px;
    max-height: 100%;
    grid-column: 1 / span 4;
    grid-row: 1 / span 6;
    box-shadow: 0 2px 2px #00000060;
}

.ProfilePoster .fav {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
    padding: 5px;
    border-radius: 0 0 0 10px;
    box-shadow: 0 2px 2px #00000060;
    z-index: 1;
}

.ProfilePoster .rating {
    margin: 5px 0;
    padding: 0 10px;
    font-weight: 800;
    text-align: center;
    color: #fff;
    font-size: 22px;
    text-shadow: 0 2px 2px #00000080;
    box-shadow: 0 2px 2px #00000060;
    border-radius: 15px;
}