.App {
  height: 100vh;
  width: 100vw;
  max-height: -webkit-fill-available;
  max-width: -webkit-fill-available;
}

a,
button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.italic {
  font-style: italic;
}