.App {
  height: 100vh;
  width: 100vw;
  max-height: -webkit-fill-available;
  max-width: -webkit-fill-available;
}

a,
button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.italic {
  font-style: italic;
}

.zero{
  background-color: #b0c2cbff;
}

.point-five{
  background-color: #ff4d4dff;
}

.one{
  background-color: #ff9900ff;
}

.two{
  background-color: #ffdf00ff;
}


.three{
  background-color: #6fc3ffff;
}

.four{
  background-color: #51d542ff;
}

.five{
  background-color: #ffa5ffff;
}