.SearchBar{
    width: 100%;
    height: 30px;
    display: flex;
    gap: 15px;
}

.SearchBar input{
    width: 100%;
    color: #fff;
    font-size: 18px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
}

.SearchBar input::placeholder {
    color: #fff;
  }

.SearchBar button{
    font-weight: 600;
    border: none;
    border-radius: 0;
    background-color: #fff;
}

@media screen and (min-width: 400px) {
    .SearchBar button{
        font-size: 18px;
    }
}

@media screen and (min-width: 700px) {
    .SearchBar input,
    .SearchBar button{
        font-size: 20px;
    }
}