.ReviewForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
    overflow-y: scroll;
}

.ReviewForm .review-form-poster {
    width: 200px;
    height: 300px;
    object-fit: cover;
    box-shadow: 0 3px 3px #00000060;
}

.ReviewForm label {
    width: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #000;
    box-shadow: 0 3px 3px #00000060;
}

.ReviewForm label p {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-bottom: 3px;
    font-size: 40px;
}

.ReviewForm .review-form-finished:hover,
.ReviewForm .review-form-fav:hover,
.ReviewForm .review-form-tag-label:hover,
.ReviewForm select{
    cursor: pointer;
}

.ReviewForm label select {
    color: #fff;
    font-size: 24px;
    background-color: transparent;
    border: none;
}

.ReviewForm label select:focus,
.ReviewForm label textarea:focus {
    outline: none;
}

.ReviewForm label img {
    width: 30px;
    height: 30px;
}

.ReviewForm label img.white {
    filter: brightness(0) invert(1);
}

.ReviewForm .review-form-thoughts {
    width: 250px;
    flex-direction: column;
    align-items: flex-start;
}

.ReviewForm label textarea {
    width: 100%;
    height: 100px;
    color: #fff;
    font-size: 20px;
    background-color: transparent;
    border: none;
}

.container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: 2px solid #fff;
  }
  
  .container input:checked~.checkmark {
    background-color: transparent;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked~.checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
    left: 6.5px;
    top: 2.5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.ReviewForm .review-form-options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ReviewForm .review-form-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ReviewForm .review-form-cancel,
.ReviewForm .review-form-submit {
    display: flex;
    width: 180px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #fff;
    border: none;
    box-shadow: 0px 3px 3px #00000060;
}

.ReviewForm .review-form-submit{
    color: #000;
}

.ReviewForm .review-form-cancel{
    color: #697595;
}

@media screen and (min-width: 760px) {
    .ReviewForm {
        display: grid;
        grid-template-columns: 200px repeat(3, 1fr);
        grid-template-rows: 52px 208px fit-content(100%);
        gap: 20px;
    }

    .ReviewForm .review-form-poster{
        grid-column: 1 / span 1;
        grid-row: 1 / span 3;
    }

    .ReviewForm label{
        width: 100%;
        height: 100%;
        font-size: 20px;
    }

    .ReviewForm label select{
        font-size: 20px;
    }


    .ReviewForm .review-form-thoughts{
        width: 100%;
        height: 100%;
        grid-column: 2 / span 3;
        grid-row: 2 / span 2;
        display: flex;
        justify-content: stretch;
    }

    .ReviewForm .review-form-thoughts textarea{
        width: 100% !important;
        height: 100%;
    }

    .ReviewForm .review-form-options{
        width: 100%;
        grid-column: 1 / span 4;
        grid-row: 4 / span 1;
        display: grid;
        grid-template-columns: 220px 1fr 20px 1fr 20px 1fr;
        grid-template-rows: 50px fit-content(100%);
    }

    .ReviewForm .review-form-tag-label{
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
    }

    .ReviewForm .review-form-submit{
        width: 100%;
        grid-column: 4 / span 1;
        grid-row: 1 / span 1;
        margin-top: 0;
    }

    .ReviewForm .review-form-cancel{
        width: 100%;
        grid-column: 6 / span 1;
        grid-row: 1 / span 1;
        margin-top: 0;
    }

    .ReviewForm .review-form-tags{
        width: 100%;
        grid-column: 1 / span 7;
        grid-row: 2 / span 1;
        padding-top: 20px;
    }
}

@media screen and (min-width: 900px) {
    .ReviewForm {
        grid-template-columns: 300px repeat(3, 1fr);
        grid-template-rows: 52px 358px fit-content(100%);
    }

    .ReviewForm label,
    .ReviewForm label select{
        font-size: 24px;
    }

    .ReviewForm .review-form-poster{
        width: 300px;
        height: 450px;
    }

    .ReviewForm .review-form-options{
        grid-template-columns: 320px 1fr 20px 1fr 20px 1fr;
    }
}