.Header{
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #000;
}

.Header h1{
    width: 200px;
}

.Header nav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.Header nav p{
    cursor: pointer;
}

.Header .header-auth{
    width: 100px;
    display: flex;
    justify-content: center;
}

.Header .header-profile{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
    border: 1px solid black;
    border-radius: 50%;
}