.Header {
    width: 100vw;
    display: flex;
}

.Header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0
}

.Header .logo.disappear {
    height: 75px;
    margin-left: 15px;
}

.Header .logo.disappear img {
    display: none;
}

.Header .logo img {
    height: 75px;
    padding: 15px;
}

.Header .logo h1 {
    display: none;
}

.Header nav {
    width: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    background-color: #000;
    box-shadow: 0 2px 2px #00000060;
}

.feed,
.Header nav p {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.Header nav p {
    cursor: pointer;
}

.pop-search {
    min-width: calc(100% - 15px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-right: 15px;
}

.pop-search p {
    width: auto !important;
}

.Header .feed {
    background-color: #3177eeff;
}

.Header .random {
    background-color: #6a53f0ff;
}

.Header .search {
    background-color: #a32ef1ff;
}

.Header .header-profile {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
}

.Header .header-auth {
    width: auto;
    height: 75px;
    padding: 0 10px;
}

@media screen and (min-width: 380px) {
    .Header .header-auth {
        padding: 0 20px;
    }
}

@media screen and (min-width: 420px) {
    .Header nav {
        font-size: 18px;
    }
}

@media screen and (min-width: 560px) {
    .Header .logo.disappear {
        height: auto;
        margin-left: 0;
    }

    .Header .logo.disappear img {
        display: block;
    }

    .Header .logo h1 {
        display: block;
        margin: 0 10px 0 0;
        white-space: nowrap;
    }

    .pop-search {
        min-width: calc(100% - 230.27px);
    }
}

@media screen and (min-width: 700px) {
    .Header .logo h1 {
        font-size: 36px;
    }

    .Header nav p {
        font-size: 22px;
    }

    .pop-search {
        min-width: calc(100% - 278.69px);
    }
}

@media screen and (min-width: 735px) {
    .Header .logo {
        gap: 10px;
        margin: 0 10px !important;
    }

    .Header .logo h1 {
        font-size: 40px;
    }

    .Header .logo img {
        height: 100px;
    }

    .pop-search {
        min-width: calc(100% - 355.2px);
    }
}

@media screen and (min-width: 840px) {
    .Header nav p {
        font-size: 26px;
    }
}