.Title {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 200px;
    position: fixed;
}

@media screen and (min-width: 1050px) {
    .Title {
        display: grid;
        grid-template-columns: auto 200px;
        grid-template-rows: 1fr;
    }
}