.Edit {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 20px 0 20px;
}

.Edit h1 {
    width: 100%;
    margin: 0;
    padding-bottom: 10px;
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    border-bottom: 3px solid #fff;
}

.Edit form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
    overflow-y: scroll;
}

.Edit .edit-poster {
    width: 200px;
    height: 300px;
    object-fit: cover;
    box-shadow: 0 3px 3px #00000060;
}

.Edit label {
    width: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #000;
    box-shadow: 0 3px 3px #00000060;
}

.Edit label p {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-bottom: 3px;
    font-size: 40px;
}

.Edit label.edit-thoughts {
    width: 250px;
    flex-direction: column;
    align-items: flex-start;
}

.Edit label select {
    color: #fff;
    font-size: 24px;
    background-color: transparent;
    border: none;
}

.Edit img {
    width: 30px;
    height: 30px;
}

.Edit img.white {
    filter: brightness(0) invert(1);
}

.Edit label textarea {
    width: 100%;
    height: 100px;
    color: #fff;
    font-size: 20px;
    background-color: transparent;
    border: none;
}

.Edit label select:focus,
.Edit label textarea:focus {
    outline: none;
}

.Edit .edit-tags-put{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Edit .edit-put{
    display: flex;
    width: 180px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #fff;
    border: none;
    box-shadow: 0px 3px 3px #00000060;
}

.Edit .edit-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Edit .edit-tag {
    margin: 10px 5px !important;
    padding: 5px 15px;
    font-size: 20px;
    font-weight: 800;
    white-space: nowrap;
    text-align: center;
    box-shadow: 0px 2px 2px #00000060;
    border: none;
    border-radius: 20px;
}

.Edit .edit-tag:hover {
    animation: .5s rise forwards;
}

.Edit .edit-tag.plus {
    color: #000;
    background-color: #fff;
}

.Edit .edit-tag.minus {
    color: #fff;
    background-color: #000;
}

.Edit .edit-tag.disable {
    color: #697595;
    background-color: #bcc7e8;
    animation: none !important;
}

@media screen and (min-width: 760px) {
    .Edit form {
        display: grid;
        grid-template-columns: 200px repeat(3, 1fr);
        grid-template-rows: 52px 208px fit-content(100%);
        gap: 20px;
    }

    .Edit .edit-poster{
        grid-column: 1 / span 1;
        grid-row: 1 / span 3;
    }

    .Edit label{
        width: 100%;
        height: 100%;
        font-size: 20px;
    }

    .Edit label select{
        font-size: 20px;
    }


    .Edit label.edit-thoughts{
        width: 100%;
        height: 100%;
        grid-column: 2 / span 3;
        grid-row: 2 / span 2;
        display: flex;
        justify-content: stretch;
    }

    .Edit label.edit-thoughts textarea{
        width: 100% !important;
        height: 100%;
    }

    .Edit label.edit-tag-label{
        grid-column: 2 / span 1;
        grid-row: 4 / span 1;
    }

    .Edit .edit-tags-put{
        width: 100%;
        grid-column: 1 / span 4;
        grid-row: 4 / span 1;
        display: grid;
        grid-template-columns: 200px repeat(6, 1fr);
        grid-template-rows: 50px fit-content(100%);
        gap: 20px 20px;
    }

    .Edit label.edit-tag-label{
        grid-column: 3 / span 2;
        grid-row: 1 / span 1;
    }

    .Edit button.edit-put{
        width: 100%;
        grid-column: 5 / span 2;
        grid-row: 1 / span 1;
        margin-top: 0;
    }

    .Edit .edit-tags{
        width: 100%;
        grid-column: 1 / span 7;
        grid-row: 2 / span 1;
    }
}

@media screen and (min-width: 900px) {
    .Edit form {
        grid-template-columns: 300px repeat(3, 1fr);
        grid-template-rows: 52px 358px fit-content(100%);
    }

    .Edit label,
    .Edit label select{
        font-size: 24px;
    }

    .Edit .edit-poster{
        width: 300px;
        height: 450px;
    }

    .Edit .edit-tags-put{
        grid-template-columns: 300px repeat(6, 1fr);
    }
}