.Show img {
    width: 300px;
    box-shadow: 0 2px 2px #00000060;
}

.Show .show-tags {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Show .show-tags p,
.Show .show-tags a {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 2px solid #000;
    border-radius: 20px;
}