header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    background-color: #fffcf4;
}

.header-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-info>a{
    text-decoration: none;
}

.logo {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
    margin-left: 15px;
}

.logo>img {
    width: 8-px;
    height: 80px;
}

.title {
    height: 95px;
}

.title>h1,
.title>h2 {
    margin: 0 0 0 20px;
    padding: 0;
}

.title>h1 {
    font-size: 50px;
    color: #000;
}

.title>h2 {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    font-weight: normal;
    line-height: 20px;
    color: #8767ac;
}

nav {
    width: 600px;
}

nav>ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

nav>ul>li {
    list-style: none;
    padding: 5px 20px;

}

nav>ul>li>a {
    font-size: 25px;
    color: #000;
    text-decoration: none;
}

.active {
    background-color: #000;
}

.active>a {
    color: #fffcf4 !important;
    font-weight: bold;
}

.bar {
    width: 100%;
    height: 5px;
}

.red {
    background-color: #eb1f26ff;
}

.orange {
    background-color: #f1901fff;
}

.yellow {
    background-color: #ffcb4dff;
}

.green {
    background-color: #5c903eff;

}

.blue {
    background-color: #216798ff;

}

.purple {
    background-color: #8767acff;
    z-index: 1;
    box-shadow: 0px 3px 5px #00000060
}

.page-title{
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
    font-size: 40px;
    margin: 20px 30px 40px 30px;
}